{% extends "layout.html" %}
{% block content %}
		<div class="content-section">
			<div class="text-center">
			 	<h2 style="color: #337ab7;">Teams and Stakeholders</h2>
			 </div>
			 <div class="card">
			 	<div class="card-header">
			 		Ecole Supérieure d'Informatique, Université Nazi BONI
			 	</div>
			 	<div class="card-body">
			 		Engeeniers higth school in computer science. at Bobo-Dioulasso,Burkina-Faso.
			 		<br>
					TEAM :
					<br>
					Borlli Michel Jonas SOME
					<br>
					TRAORE Ibrahim
			 	</div>
			 </div>
			 <div class="card">
			 	<div class="card-header">
			 		Team ERIAS, Bordeaux Population Health INSERM 1219
			 	</div>
			 	<div class="card-body">
			 		French ANR agency under the contract MRSEI ANR-16-MRSE-0019-01. Univ. Bordeaux,
			 		<br>
			 		F-33000, Bordeaux, France
			 		<br>
					TEAM :
					<br>
					Gayo DIALLO
					<br>
					Frantz Thiessard
					<br>
					Georgeta Bordea
			 	</div>
			 </div>
			 <div class="card">
			 	<div class="card-header">
			 		Others.
			 	</div>
			 	<div class="card-body">
			 		CRVPM Dubréka (Guinea) and Hôpital Keur Massar de Dakar (Senegal).
			 		<br>
					TEAM :
					<br>
					Pr. Aliou Baldé
					<br>
					Mr. Djibril Ba
			 	</div>
			 </div>
		</div>
{% endblock content %}
